@font-face {
    font-family: 'Space Ranger';
    src: url('SpaceRanger.eot');
    src: url('SpaceRanger.eot?#iefix') format('embedded-opentype'),
        url('SpaceRanger.woff2') format('woff2'),
        url('SpaceRanger.woff') format('woff'),
        url('SpaceRanger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger 3D';
    src: url('SpaceRanger3D.eot');
    src: url('SpaceRanger3D.eot?#iefix') format('embedded-opentype'),
        url('SpaceRanger3D.woff2') format('woff2'),
        url('SpaceRanger3D.woff') format('woff'),
        url('SpaceRanger3D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger 3D';
    src: url('SpaceRanger3DItalic.eot');
    src: url('SpaceRanger3DItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRanger3DItalic.woff2') format('woff2'),
        url('SpaceRanger3DItalic.woff') format('woff'),
        url('SpaceRanger3DItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Academy';
    src: url('SpaceRangerAcademyItalic.eot');
    src: url('SpaceRangerAcademyItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerAcademyItalic.woff2') format('woff2'),
        url('SpaceRangerAcademyItalic.woff') format('woff'),
        url('SpaceRangerAcademyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Academy';
    src: url('SpaceRangerAcademy.eot');
    src: url('SpaceRangerAcademy.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerAcademy.woff2') format('woff2'),
        url('SpaceRangerAcademy.woff') format('woff'),
        url('SpaceRangerAcademy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger';
    src: url('SpaceRangerBoldItalic.eot');
    src: url('SpaceRangerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerBoldItalic.woff2') format('woff2'),
        url('SpaceRangerBoldItalic.woff') format('woff'),
        url('SpaceRangerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger';
    src: url('SpaceRangerBold.eot');
    src: url('SpaceRangerBold.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerBold.woff2') format('woff2'),
        url('SpaceRangerBold.woff') format('woff'),
        url('SpaceRangerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Gradient';
    src: url('SpaceRangerGradient.eot');
    src: url('SpaceRangerGradient.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerGradient.woff2') format('woff2'),
        url('SpaceRangerGradient.woff') format('woff'),
        url('SpaceRangerGradient.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Expanded';
    src: url('SpaceRangerExpandedItalic.eot');
    src: url('SpaceRangerExpandedItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerExpandedItalic.woff2') format('woff2'),
        url('SpaceRangerExpandedItalic.woff') format('woff'),
        url('SpaceRangerExpandedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Condensed';
    src: url('SpaceRangerCondensed.eot');
    src: url('SpaceRangerCondensed.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerCondensed.woff2') format('woff2'),
        url('SpaceRangerCondensed.woff') format('woff'),
        url('SpaceRangerCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Expanded';
    src: url('SpaceRangerExpanded.eot');
    src: url('SpaceRangerExpanded.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerExpanded.woff2') format('woff2'),
        url('SpaceRangerExpanded.woff') format('woff'),
        url('SpaceRangerExpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Condesned';
    src: url('SpaceRangerCondesnedItalic.eot');
    src: url('SpaceRangerCondesnedItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerCondesnedItalic.woff2') format('woff2'),
        url('SpaceRangerCondesnedItalic.woff') format('woff'),
        url('SpaceRangerCondesnedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Chrome';
    src: url('SpaceRangerChromeItalic.eot');
    src: url('SpaceRangerChromeItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerChromeItalic.woff2') format('woff2'),
        url('SpaceRangerChromeItalic.woff') format('woff'),
        url('SpaceRangerChromeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Chrome';
    src: url('SpaceRangerChrome.eot');
    src: url('SpaceRangerChrome.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerChrome.woff2') format('woff2'),
        url('SpaceRangerChrome.woff') format('woff'),
        url('SpaceRangerChrome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Halftone';
    src: url('SpaceRangerHalftone.eot');
    src: url('SpaceRangerHalftone.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerHalftone.woff2') format('woff2'),
        url('SpaceRangerHalftone.woff') format('woff'),
        url('SpaceRangerHalftone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Leftalic';
    src: url('SpaceRangerLeftalic.eot');
    src: url('SpaceRangerLeftalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerLeftalic.woff2') format('woff2'),
        url('SpaceRangerLeftalic.woff') format('woff'),
        url('SpaceRangerLeftalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Gradient';
    src: url('SpaceRangerGradientItalic.eot');
    src: url('SpaceRangerGradientItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerGradientItalic.woff2') format('woff2'),
        url('SpaceRangerGradientItalic.woff') format('woff'),
        url('SpaceRangerGradientItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Outline';
    src: url('SpaceRangerOutlineItalic.eot');
    src: url('SpaceRangerOutlineItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerOutlineItalic.woff2') format('woff2'),
        url('SpaceRangerOutlineItalic.woff') format('woff'),
        url('SpaceRangerOutlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Halftone';
    src: url('SpaceRangerHalftoneItalic.eot');
    src: url('SpaceRangerHalftoneItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerHalftoneItalic.woff2') format('woff2'),
        url('SpaceRangerHalftoneItalic.woff') format('woff'),
        url('SpaceRangerHalftoneItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Outline';
    src: url('SpaceRangerOutline.eot');
    src: url('SpaceRangerOutline.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerOutline.woff2') format('woff2'),
        url('SpaceRangerOutline.woff') format('woff'),
        url('SpaceRangerOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger';
    src: url('SpaceRangerItalic.eot');
    src: url('SpaceRangerItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerItalic.woff2') format('woff2'),
        url('SpaceRangerItalic.woff') format('woff'),
        url('SpaceRangerItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Laser';
    src: url('SpaceRangerLaser.eot');
    src: url('SpaceRangerLaser.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerLaser.woff2') format('woff2'),
        url('SpaceRangerLaser.woff') format('woff'),
        url('SpaceRangerLaser.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Super';
    src: url('SpaceRangerSuper-Italic.eot');
    src: url('SpaceRangerSuper-Italic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerSuper-Italic.woff2') format('woff2'),
        url('SpaceRangerSuper-Italic.woff') format('woff'),
        url('SpaceRangerSuper-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Laser';
    src: url('SpaceRangerLaserItalic.eot');
    src: url('SpaceRangerLaserItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerLaserItalic.woff2') format('woff2'),
        url('SpaceRangerLaserItalic.woff') format('woff'),
        url('SpaceRangerLaserItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Semi';
    src: url('SpaceRangerSemi-Italic.eot');
    src: url('SpaceRangerSemi-Italic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerSemi-Italic.woff2') format('woff2'),
        url('SpaceRangerSemi-Italic.woff') format('woff'),
        url('SpaceRangerSemi-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Title';
    src: url('SpaceRangerTitle.eot');
    src: url('SpaceRangerTitle.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerTitle.woff2') format('woff2'),
        url('SpaceRangerTitle.woff') format('woff'),
        url('SpaceRangerTitle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger Title';
    src: url('SpaceRangerTitleItalic.eot');
    src: url('SpaceRangerTitleItalic.eot?#iefix') format('embedded-opentype'),
        url('SpaceRangerTitleItalic.woff2') format('woff2'),
        url('SpaceRangerTitleItalic.woff') format('woff'),
        url('SpaceRangerTitleItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

