/* Reset CSS */
@import url(../fonts/ttfirsneue.css);
@import url(../fonts/spaceranger.css);

/* Global CSS - Begin */
* {
    box-sizing: border-box;
    
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    font-family: 'TT Firs Neue', monospace;
    font-size: 16px;
    background-color: #171717;
    color: #fff;
}

:root {
    --primary: #72f34b;
    --controller-rotate: 0deg;
    --p-color: #d1d1d1;
}

button {
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
    margin: 0;
    font-weight: 600;

}

h3 {
    font-size: 32px;
    margin: 0;
    font-weight: 600;

}

h4 {
    font-size: 24px;
    margin: 0 0 12px 0;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
}

img {
    max-width: 100%;
}

.color-primary {
    color: var(--primary)!important;
}

/* Global CSS - End */

#nav-bar {
    position: fixed;
    display: flex;
    padding: 24px 160px;
    background-color: #171717;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    z-index: 999;
}

.nav-bar__logo {
    height: 24px;
    width: auto;
    min-width: 100px;
    flex: 1;
    
}

.logo__img {
    height: 24px;
    width: auto;
}

.nav-bar__nav {
    flex: 4;
   
}

.nav__container {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav__link-item {
    margin: 0px 20px;
}

.nav-bar__btn {
    padding: 12px 40px;
    font-size: 14px;
    background-color: var(--primary);
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
}

#main {
    
}

#banner {
    background-image: url(../img/banner.7cc59236.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0a0a0a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    font-family: 'Space Ranger','TT Firs Neue', monospace;
    margin-top: 240px;
    margin-bottom: 0;
    z-index: 1;
    font-size: 88px;
    text-align: center;
    line-height: 78px;
    max-width: 1100px;

}

.title__firstline {

}

.title__secondline {
    font-family: 'Space Ranger Outline','Space Ranger',monospace;
    font-weight: 400;
}

.banner__subtitle {
    max-width: 970px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 32px;
}

.banner__btn {
    background: #21361a;
    padding: 16px 80px;
    margin-top: 40px;
    color: var(--primary);
    cursor: pointer;
}

#discover {
    display: flex;
    padding: 80px;
    padding-bottom: 24px;
    background-color: #171717;
    margin-top: 320px;
    z-index: 2;
    width: 90%;
}

.discover__item {
    flex: 1 1 auto;
    padding: 0 20px;
}

.discover__title {
    font-size: 24px;
}

.discover__detail {
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    color: var(--p-color);
}

.discover__detail ul {
    list-style: none;
}

#discover  .discover__detail li::before {
    content: "■"; /* /25A0 */
    font-size: 8px;
    color: var(--primary);
    margin-right: 12px;
}

.controller {
    position: absolute;
}

.controller__ps5 {
    bottom: 350px;
    right: -100px;
    z-index: 1;
}

.controller__xbox {
    top: 80px;
    left: 20px;
}

#intro {
    margin-top: 200px;
}

.intro__section {
    display: block;
    position: relative;
}

.intro__section:first-child {
    background-color: #0a0a0a;
}

.section__header {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 60px;
}
.section__header > img {
    width: 100%;
    height: auto;
    
}

.section__content {
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 100px 160px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.content__text {
    max-width: 550px;
}

.content__text h2 {
    font-weight: 600;
    line-height: 56px;
    margin: 0 0 32px 0
}

.content__text p {
    color: var(--p-color);
    font-size: 18px;
}

.content__text p span {
    font-weight: 700;
    color: var(--primary);
}

.flex-column {
    flex-direction: column;
    text-align: center;
}

.description {
    font-size: 18px;
    max-width: 1060px;
    color: var(--p-color);
    line-height: 24px;
}

#intro .grid__container .description {
    line-height: 28px;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 160px;
}

.grid__container > img {
    width: 100%;
}

.grid__item {
    background-color: #0a0a0a;
    padding: 48px 60px;
}

.grid__item img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

#intro .grid__item img {
    width: 100px;
    height: 100px;
}

.header__container {
    position: relative;
}

.header__container > .description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,36px);
    font-size: 20px;
}

.bg-gamefi {
    background: url(../img/gamefi.8b0c7064.png) no-repeat;
    
}

.bg-feature {
    background: url(../img/features.7ca2a2ac.png) no-repeat;
}

.bg-token {
    background: url(../img/token.7f9aa6f7.png) no-repeat;
}

.bg-supported {
    background: url(../img/supported.3080d71a.png) no-repeat;
}

.bg-roadmap {
    background: url(../img/roadmap.170b1246.png) no-repeat;
}

.bg-team {
    background: url(../img/team.4b5441e5.png) no-repeat;
}

.bg-subscribe {
    background: url(../img/subscribe.d3d27b27.png) no-repeat;
}

.header__title {
    background-size: cover;
    aspect-ratio: 1440/231;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#feature .header__container .description {
    font-size: 22px;
    transform: translate(-50%,30px);
    max-width: 750px;
}

.grid-3rows {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

.grid-3rows .grid__item {
    padding: 0;
    background-color: #171717;
}

.fees {
    background: url(../img/features_bg.e755cea5.png), no-repeat;
    background-size: cover;
    margin-right: 100px;
    padding: 40px 160px;
    position: relative;
}

.fees__title {
    font-family: 'Space Ranger Outline','Space Ranger',monospace;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
}

.fees__item {
    display: flex;
    padding: 20px 4px;
    max-width: 640px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.fees__item h4 {
    min-width: 160px;
}

.fees__item .description {
    margin-left: 20px;
}

.fees_img {
    position: absolute;
    bottom: -70px;
    right: -20px;
    width: calc(100% - 820px);
}

.fees_img::after {
    content: "";
    position: absolute;
    inset: 20px -20px -20px 20px;
    border: 1px solid var(--primary);
}

.fees_img img {
    width: 100%;
    max-height: 400px;
}

#token {
    margin-top: 100px;
    padding-top: 100px;
}

.token__slider {
    display: flex;
    margin-bottom: 240px;
    justify-content: center;
}

.slider__item h3 {
    margin-bottom: 20px;
}

.slider__item .description {
    line-height: 28px;
}

.slider__item {
    padding: 80px 40px;
    background-repeat: no-repeat;
    width: 375px;
    height: 320px;
    position: relative;
}

.slider__item::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: 6px;
    height: 14px;
    background: var(--primary);
}

.bg-side {
    background-image: url(../img/slider-side.png);
}

.bg-center {
    background-image: url(../img/slide-center-green.png);

}

.supported__grid {
    padding: 0 100px;
    gap: 24px;
    margin-bottom: 240px;
    justify-items: center;
}

.supported__grid .grid__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    margin: auto;
}

.grid__item .supported__img:hover {
    filter: grayscale(0);
}

.grid__item .supported__img {
    width: auto;
    height: auto;
    margin-bottom: 0;
    filter: grayscale(1) invert(0.2);
}

.grid__item .gamefi-logo {
    width: 60%;
}

#roadmap {
    background-color: #0a0a0a;
    padding-bottom: 140px;
}

.map {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.map__quater {
    width: 16px;
    height: 200px;
    position: relative;
}

.map__quater::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 4px;
    background: url(../img/divider.png);
    background-size: cover;
}

.map__quater::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: var(--primary);
}

.item-right {
    padding: 0 60px 60px;
    width: 400px;
    margin-left: 16px;
}

.item-left {
    padding: 0 60px 60px;
    width: 400px;
    margin-left: -400px;
    text-align: right;
}

#ourteam {
    background-color: #0a0a0a;
    padding-bottom: 160px;
}

.team-container {
    padding: 0 160px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}
.team-member {
    position: relative;
}

.member-info {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 0 0 20px 20px;
}

.member-info h4 {
    margin-bottom: 4px;
}

.img-display {
    display: block;
}

.team-member:hover .img-display,
.img-hover {
    display: none;
}

.team-member:hover .img-hover {
    display: block;
}

#subscribe {
    background-color: var(--primary);
    padding-bottom: 60px;
}

#subscribe h2 {
    font-family: 'Space Ranger','TT Firs Neue', monospace;
    font-size: 72px;
    color: #0a0a0a;
    margin-top: 60px;
}

.input-email {
    display: flex;
    justify-content: center;
    width: 560px;
    margin: auto;
    padding-top: 20px;
}

.input-email input[type='email'] {
    padding: 14px 0 14px 20px;
    flex: 2.5;
    border: none;
    outline: none;
}

.input-email button {
    flex: 1;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 20px;
    background-color: #0a0a0a;
    color: var(--primary);
    outline: none;
    cursor: pointer;
}

#footer {
    padding: 120px 160px 80px;
    display: flex;
    font-size: 18px;
}

#footer > div:first-child {
    flex: 1;
}

#footer > div:first-child img {
    margin-bottom: 14px;
}

#footer h5 {
    margin: 24px 0px;
}

#footer > div {
    flex: 0 1 200px;
}

#module {
    display: none;
}

